<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <h1>Выпускной проект</h1>
    <div class="d-flex">
      <button type="button" (click)="clickAddUser()" data-bs-toggle="modal" data-bs-target="#exampleModal"
              class="btn btn-light">
        Добавить пользователя</button>
    </div>
  </div>
</nav>
<div class="table-responsive">
  <cdk-virtual-scroll-viewport #scroller class="content" [itemSize]="70">
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Номер</th>
    <th scope="col">Фамилия</th>
    <th scope="col">Имя</th>
    <th scope="col">Отчество</th>
    <th scope="col">Адрес</th>
    <th scope="col">Действие</th>
  </tr>
  </thead>
  <tbody>
  <tr *cdkVirtualFor="let user of userData">
    <td>{{user.id}}</td>
    <td>{{user.lastName}}</td>
    <td>{{user.firstName}}</td>
    <td>{{user.fathersName}}</td>
    <td>{{user.address}}</td>
    <td>
      <button class="btn pl-0" (click)="onEdit(user)" type="button" data-bs-toggle="modal"
              data-bs-target="#exampleModal" class="btn">Изменить</button>
      <button class="btn" (click)="deleteUser(user)">Удалить</button>
    </td>
  </tr>
  </tbody>
</table>
  </cdk-virtual-scroll-viewport>
</div>


<app-modal
  [item]="formValue"
  [showAdd]="showAdd"
  [showUpdate]="showUpdate"
  [userObj]="userObj"
  (userDataUpdate)="updateUserData($event)" >
</app-modal>



