<nav class="navbar navbar-light bg-primary">
  <div class="container-fluid">
    <h1>Выпускной проект</h1>
    <div class="d-flex">
      <button class="btn btn-success">Добавить пользователя</button>
    </div>
  </div>
</nav>

<table class="table">
  <thead>
  <tr>
    <th scope="col">Номер</th>
    <th scope="col">Фамилия</th>
    <th scope="col">Имя</th>
    <th scope="col">Отчество</th>
    <th scope="col">Адрес</th>
    <th scope="col">Действие</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>1</td>
    <td>Холодов</td>
    <td>Даниил</td>
    <td>Александрович</td>
    <td>город Москва</td>
    <td>
      <button class="btn btn-info">Изменить</button>
      <button class="btn btn-danger mx-3">Удалить</button>
    </td>
  </tr>
  </tbody>
</table>
