<nav class="navbar navbar-light bg-primary">
  <div class="container-fluid">
    <h1>Выпускной проект</h1>
    <div class="d-flex">
      <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-success">
        Добавить пользователя</button>
    </div>
  </div>
</nav>

<table class="table">
  <thead>
  <tr>
    <th scope="col">Номер</th>
    <th scope="col">Фамилия</th>
    <th scope="col">Имя</th>
    <th scope="col">Отчество</th>
    <th scope="col">Адрес</th>
    <th scope="col">Действие</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of userData">
    <td>{{user.id}}</td>
    <td>{{user.lastName}}</td>
    <td>{{user.firstName}}</td>
    <td>{{user.fathersName}}</td>
    <td>{{user.address}}</td>
    <td>
      <button class="btn btn-info">Изменить</button>
      <button class="btn btn-danger mx-3">Удалить</button>
    </td>
  </tr>
  </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Информация пользователя</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formValue">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Фамилия</label>
            <input type="text" formControlName="lastName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword2" class="form-label">Имя</label>
            <input type="text" formControlName="firstName" class="form-control" id="exampleInputPassword2">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword3" class="form-label">Отчество</label>
            <input type="text" formControlName="fathersName" class="form-control" id="exampleInputPassword3">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword4" class="form-label">Адрес</label>
            <input type="text" formControlName="address" class="form-control" id="exampleInputPassword4">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
        <button type="button" (click)="postUserDetails()"  class="btn btn-primary">Добавить</button>
      </div>
    </div>
  </div>
</div>
